html {
    background-color: black;
}

div.container {
    width: 100%;
    border: none;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: mediumpurple;
    clear: left;
    text-align: center;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

button {
    display: block;
    color: mediumpurple; /* Green */
    background: black;
    border: 2px solid mediumpurple;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: left;
    border-radius: 6px;
    text-transform: uppercase;
}

button > text {
    vertical-align: middle;
}

button:hover {
    color: black;
    background: mediumpurple;
    border: 2px solid black;
}

.buttonbar {
    margin-top: 20px;
    align: center;
    clear: left;
}

.active {
    color: black;
    background: mediumpurple;
    border: 2px solid black;
}